<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>JC Portfolio &#128512; | Powered by Bootstrap</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name="description" content="Hi! I'm JC. Welcome to my personal portfolio. &#128512;" />
  <meta property="og:title" content="JC Portfolio &#128512;" />
  <meta property="og:description"
    content="Learn more about JC, his skills/projects and how he can work with you in your next project!" />
  <meta property="og:image" content="/jovian_meta.png" />
  <link rel="icon" href="/jovian_favicon.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='/styles.css'>

</head>

<body">
  <!--NAVBAR-->
  <nav id="navbar-main" class="navbar navbar-expand-md shadow-sm mb-4">
    <div class="container-lg px-4">
      <a class="navbar-brand" href="/">
        <img id="logo" alt="Jovian Logo" src="https://i.imgur.com/JRA5Q8a.png" height="30" class="d-md-none" />
        <img id="logo-with-text" alt="Jovian Logo" src="https://i.imgur.com/m1wXjqw.png" height="30"
          class="d-none d-md-inline" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/" target="_self">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#about-section" target="_self">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#project-section" target="_self">
              Projects
            </a>
          </li>
          <li class="nav-item">
            <!--Add Contact Link here-->
            <a class="btn btn-lets-talk ms-md-2 text-white" href="/" role="button" target="_blank">
              Let's Talk
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--HERO SECTION-->
  <div id="hero-section" class="container-fluid">
    <div class="row">
      <div class="alight-items-center col-12 mb-3">
        <h1 class="display-4 fw-bold content text-center d-lg-none">
          I'm <span class="purple-gradient-text">JC</span>. An Aspiring Data Scientist and Full Stack Developer
        </h1>
        <h1 class="display-5 fw-bold content text-center d-none d-lg-block">
          I'm <span class="purple-gradient-text">JC</span>. An Aspiring Data Scientist and Full Stack Developer
        </h1>
      </div>
      <div id="hero-text-1" class="d-flex justify-content-end align-self-start col-md-4 mt-4 mx-0 px-0">
        <div class="dark-purple-gradient hero-text p-4 text-center">
          <div class="hero-text-title">
            Data Scientist
          </div>
          <div class="hero-text-year">
            2 years
          </div>
        </div>
      </div>
      <div class="alight-items-center col-md-4 mt-4 text-center mx-0 px-0">
        <img id="hero-portrait" src="/jc_portrait_half.jpg" alt="hero-portrait">
      </div>
      <div id="hero-text-2" class="d-flex justify-content-start align-self-end col-md-4 mt-4 mx-0 px-0">
        <div class="dark-purple-gradient hero-text p-4 text-center">
          <div class="hero-text-title">
            Front-End Web Developer
          </div>
          <div class="hero-text-year">
            2 months
          </div>
        </div>
      </div>

    </div>

  </div>

  <!--SKILLS SECTION-->
  <div id="skill-section" class="container-fluid mt-5 dark-blue-background">
    <div class="gray-filter">
      SKILLS ....
    </div>
  </div>

  <!--ABOUT SECTION-->
  <div id="about-section" class="container-fluid px-4 purple-gradient-background mt-4">
    <div class="row align-items-center g-4 py-4">
      <div class="col-lg-3">
        <h1 class="display-4 fw-bold text-body-emphasis text-white lh-1 mb-3 text-center d-lg-none px-4">
          About Me.
        </h1>
        <h1 class="display-5 fw-bold text-body-emphasis text-white lh-1 mb-3 d-none d-lg-block px-4">
          About Me.
        </h1>
      </div>
      <div class="col-lg-9">
        <p class="lead text-white">
          I'm a technology enthusiast currently working as a Technical Consultant specializing in Customer Intelligence
          and Decision Science. However, my hobbies revolve include learning new technologies, cloud system
          architecture, python for data science and currently 'Full-Stack Development'
        </p>
        <p class="lead text-white">My professional expertise revolves around:</p>
        <ol class="lead text-white">
          <li>
            Decision Science using SAS
          </li>
          <li>
            Data Science using Python
          </li>
          <li>
            Front-End Web Development using Bootstrap
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!--PROJECTS & CERTIFICATION-->
  <div id="certification-section" class="container mt-5 mb-5 px-1">
    <div
      class="d-flex flex-column flex-md-row-reverse justify-content-center align-items-center text-center gx-3 gy-3 g-3">
      <!--Data Science Certifications Header-->
      <div class="col-12 col-md-4 offset-md-1">
        <h2 class=" text-center mb-4">Data Science</h2>
        <h3 class=" text-center mb-4">Projects & Certifications</h3>
        <p class="text-secondary pb-3 mb-4">
          Here are some of my personal projects I've worked on during my free time and certifications in the field of
          data science
        </p>
      </div>

      <!--Data Science Certifications Cards-->
      <div class="col-10 offset-1 col-md-7 offset-md-0">
        <div class="row">
          {{#projects}}
          <div class="card mb-3 col-12 col-lg-6">
            <div class="card-body dark-purple-gradient">
              <h4 class="text-white">{{type}}</h4>
              <h5 class="card-title"><a href="{{issue_url}}" class="text-decoration-none certification-card-style-1"
                  target="_blank">{{title}}</a></h5>
              <h6 class="card-subtitle my-1 certification-card-style-2">
                {{issue_organization}}
              </h6>
              <small class="card-text text-white">
                Issued on {{issue_date}}
              </small>
            </div>
          </div>
          {{/projects}}
        </div>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-md-row-reverse justify-content-center align-items-center text-center gx-3 gy-3 g-3">
      <!--Data Science Certifications Header-->
      <div class="col-12 col-md-4 offset-md-1">
        <h2 class=" text-center mb-4">Full Stack Web Development</h2>
        <h3 class=" text-center mb-4">Projects</h3>
        <p class="text-secondary pb-3 mb-4">
          Here are some of my personal projects I've worked on during my free time while taking up the Jovian Full Stack
          Development Bootcamp
        </p>
      </div>

      <!--Data Science Certifications Cards-->
      <div class="col-10 offset-1 col-md-7 offset-md-0">
        <div class="row">
          {{#projectsFS}}
          <div class="card mb-3 col-12 col-lg-6">
            <div class="card-body dark-purple-gradient">
              <h4 class="text-white">{{type}}</h4>
              <h5 class="card-title"><a href="{{issue_url}}"
                  class="text-decoration-none certification-card-style-1">{{title}}</a></h5>
              <h6 class="card-subtitle my-1 certification-card-style-2">
                {{issue_organization}}
              </h6>
              <small class="card-text text-white">
                Issued on {{issue_date}}
              </small>
            </div>
          </div>
          {{/projectsFS}}
        </div>
      </div>
    </div>


  </div>


  <!--FOOTER -->
  <div class="container-fluid px-0 my-0">
    <div class="py-4 bg-dark ">
      <div class="d-flex flex-column align-items-center justify-content-center py-4">
        <div class="text-white mb-4">
          Send me a <span class="purple-gradient-text">message</span>, I will be in touch with you shortly.<br>
        </div>
        <a class="btn btn-hit-me-up ms-md-2 text-white" href="/" role="button" target="_blank">
          Send Message &#128512;
        </a>
      </div>
      <ul class="nav justify-content-center py-4">
        <li class="nav-item">
          <a href="https://twitter.com/PagtalunanJan" class="nav-link px-2 text-body-secondary" target="_blank">
            <img class="footer-svg" alt="Twitter Logo" src="/twitter.svg"></img>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/jan-carlo-pagtalunan/" class="nav-link px-2 text-body-secondary"
            target="_blank">
            <img class="footer-svg" alt="LinkedIn Logo" src="/linkedin.svg"></img>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://jovian.com/jcawesome" class="nav-link px-2 text-body-secondary" target="_blank">
            <img class="footer-svg" alt="Jovian Logo" src="/jovian-black.svg" />
          </a>
        </li>
        <li class="nav-item">
          <a href="https://eportfolio.mygreatlearning.com/jan-carlo-pagtalunan"
            class="nav-link px-2 text-body-secondary" target="_blank">
            <img class="footer-svg" alt="Great Learning Logo" src="/gl-black.jpg" />
          </a>
        </li>
        <li class="nav-item">
          <a href="https://jovian.com/login" class="nav-link px-2 text-body-secondary" target="_blank">
            <img class="footer-svg" alt="Github Logo" src="/square-github.svg"></img>
          </a>
        </li>
      </ul>
      <p class="text-center text-secondary small col-6 offset-3 cold-md-12">
        © 2023 <span class="text-white">Jan Carlo Pagtalunan</span>. | All rights reserved.
      </p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/script.js"></script>
  </body>

</html>