body {
    font-family: 'Poppins', sans-serif;
}

#navbar-main {
    background-color: #378b29;
    background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);
}


h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    /* font-size: 2em;
    line-height: 120%; */
}

#hero-portrait {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    height: 600px;
    /* width: 50%; */
}

.hero-text {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    color: #FFFFFF;
    width: 288px;
    height: 100px;
}

.hero-text-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.hero-text-year {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
}