body {
    font-family: 'Poppins', sans-serif;
}

#navbar-main {
    /* background-color: #378b29; */
    background-image: linear-gradient(214.02deg, rgba(183, 92, 255, 0.5) 6.04%, rgba(103, 26, 228, 0.5) 92.95%);
}

.btn-lets-talk {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    border-radius: 100px;
    width: 134px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-hit-me-up {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    border-radius: 30px;
    width: 256px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    /* font-size: 2em;
    line-height: 120%; */
}

#hero-portrait {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    height: 600px;
    /* width: 50%; */
}

.hero-text {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    color: #FFFFFF;
    width: 288px;
    height: 100px;
}

.hero-text-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.hero-text-year {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
}

.purple-gradient-text {
    /* color: #671AE4; */
    background-image: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.dark-blue-background {
    background: #181E41;
    height: 135px;
}

.gray-filter {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.purple-gradient-background {
    background: linear-gradient(214.02deg, rgba(183, 92, 255, 0.5) 6.04%, rgba(103, 26, 228, 0.5) 92.95%);
}

.footer-svg {
    filter: invert(100%) sepia(3%) saturate(674%) hue-rotate(235deg) brightness(114%) contrast(80%);
    /* or any other percentage value */
    width: 25px;
    height: 25px;
}